:root{
    /* Color theme variables */
    --dark-bg-color: #1f2937;
    --dark-fg-color: white;
    --dark-st-color: #E5E7EB;
    --light-bg-color: white;
    --light-fg-color: #1f2937;
    --gray-bg-color: #E5E7EB;
    --gray-fg-color: black;
    --highlight-bg-color: #3882F6;
    --highlight-fg-color: white;
    --highlight-dark-color: #285aaa;
}

body{
    height:100vh;
    display:flex;
    padding:0;
    margin:0;
    flex-direction:column;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
}

.header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    height:75px;
    padding-left: 32px;
    padding-right:32px;
}

.header h1{
    font-size: 48px;
    font-weight: bolder;
}

.header ul{
    list-style: none;
    display:flex;
    padding:0;
}

.header li{
    margin:16px;
}

.main-content{
    flex:1;
    display:flex;
    flex-direction: column;
    
}

.content{
    flex:1;
    display:flex;
    padding-top:8px;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    justify-content:space-evenly;
    gap:64px;
}

.subcontent{
    display: flex;
    flex:1;
    height:100%;
    justify-content:center;
    color:inherit;
    background-color:inherit;
}

.subcontent,.content h2,p{
    margin:0;
}

/*
.subcontent p{
    flex:1;
}
*/

.subcontent .img{
    box-sizing: border-box;
    margin:16px;
    height:200px;
    width:200px;
    border-radius: 5px;
    padding:8px;
}

.centered{
    align-items: center;
    justify-content:center;
}

.cardview{
    display:flex;
    flex-wrap: wrap;
    flex:1 1 0;
    flex-grow:100%;
    align-items:center;
    justify-content:space-between;
}

.card{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin:8px 16px 8px 16px;
}

.card .img{
    height:75px;
    width:75px;
    border:#3882F6 solid;
    border-radius:6px;
}

.quote{
    width:400px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.quote p{
    font-style:italic;
    margin:0;
}

.quote h2{
    padding:0;
    margin:0;
    font-style:normal;
    text-align: right;
    font-size:16px;
}

.call{
    flex:1;
    background-color:var(--highlight-bg-color);
    padding: 32px;
    border-radius: 5px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    color: var(--highlight-fg-color);
    gap:16px;
    margin:32px;
}

.call h2,p{
    margin:0;
}

.footer{
    height:40px;
    display:flex;
    align-items: center;
    justify-content:center;
}

.theme-dark{
    color:var(--dark-fg-color);
    background-color:var(--dark-bg-color);
}

.theme-light{
    color:var(--light-fg-color);
    background-color:var(--light-bg-color);
}

.theme-gray{
    color:var(--gray-fg-color);
    background-color: var(--gray-bg-color);
}

.col{
    flex-direction: column;
    gap:0;
}

.subtext{
    font-size:18px;
}

.dark .subtext{
    color:var(--dark-st-color);
}

button{
    background-color:var(--highlight-bg-color);
    color:var(--highlight-fg-color);
    font-weight:bold;
    border-radius: 5px;
    padding:5px 16px 5px 16px;
    margin: 16px 0 16px 0;
    border:none;
    align-self: flex-start;
    justify-self: end;
}

button:active{
    background-color:var(--highlight-dark-color);
}

.call button{
    border:2px var(--highlight-fg-color) solid;
    align-self: center;
}