:root{
    /* Color theme variables */
    --dark-bg-color: rgb(240, 168, 12);
    --dark-fg-color: black;
    --dark-st-color: #E5E7EB;
    --light-bg-color: beige;
    --light-fg-color: #1f2937;
    --gray-bg-color: rgb(230, 192, 112);
    --gray-fg-color: black;
    --highlight-bg-color: #e9782c;
    --highlight-fg-color: white;
    --highlight-dark-color: #8f491a;
    --full-padding: 250px;
}

body{
    height:100vh;
    display:flex;
    padding:0;
    margin:0;
    flex-direction:column;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
}


/* Default table style */
table{
    width: 100%;
}
table, th, td {
    border:1px solid black;
}

/*
    Header Styles
*/
.header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    height:75px;
    padding-left:var(--full-padding);
    padding-right:var(--full-padding);
    /*
    padding-left: 32px;
    padding-right:32px; */
}

.header h1{
    font-size: 48px;
    font-weight: bolder;
}

.header ul{
    list-style: none;
    display:flex;
    padding:0;
}

.header li{
    margin:16px;
}

/*
    Content box styles
*/
.main-content{
    flex:1;
    display:flex;
    flex-direction: column;
    
}

/*
    Most information will be contained within content divs
*/
.content{
    flex:1;
    display:flex;
    /*padding: 8px 32px 8px 32px;*/
    padding-left:var(--full-padding);
    padding-right:var(--full-padding);
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    justify-content:space-evenly;
    gap:64px;
}

.content>*{
    border-radius:5px;
}

/*
    Subcontent used to group content within content boxes
*/
.subcontent{
    display: flex;
    flex:1;
    height:100%;
    justify-content:center;
    color:inherit;
    background-color:transparent;
}

.subcontent,.content h2,p{
    margin:0;
}

.subcontent .img{
    box-sizing: border-box;
    margin:16px;
    height:200px;
    width:200px;
    border-radius: 5px;
    padding:8px;
}

.subcontent img{
    height:inherit;
    width:inherit;
    object-fit:contain; 
}

/*
    Cardview will contain various "Cards", which have an image
    and a short text centered underthem.
    The cardview container contains and organizes the cards
*/
.cardview{
    display:flex;
    flex-wrap: wrap;
    flex:1 1 0;
    flex-grow:100%;
    align-items:flex-start;
    justify-content:center;
}

.cardview.border{
    border:var(--highlight-dark-color) solid;
    border-radius:6px;
    margin:0 16px 0 16px;
}

.card{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin:8px 16px 8px 16px;
    width:250px;
}

.card .img{
    box-sizing: content-box;
    margin:0;
    height: 75px;
    width:75px;
    border:var(--highlight-dark-color) solid;
    border-radius:6px;
    padding:0px;
}

.card img{
    justify-self: center;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.card .subtext{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

/*
    Text style for a quote or other emphasis
*/
.quote{
    width:400px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.quote p{
    font-style:italic;
    margin:0;
}

.quote h2{
    padding:0;
    margin:0;
    font-style:normal;
    text-align: right;
    font-size:16px;
}

/*
    Call is call to action. A highligthed area to draw attention and
    ask the user to do something
*/
.call{
    flex:1;
    background-color:var(--highlight-bg-color);
    padding: 32px;
    /*border-radius: 5px;*/
    display:flex;
    align-items:center;
    justify-content:space-between;
    color: var(--highlight-fg-color);
    gap:16px;
    margin:32px;
}

.call h2,p{
    margin:0;
}

.footer{
    height:40px;
    display:flex;
    align-items: center;
    justify-content:center;
}

/*
    Optional centered class to automatically center flexbox itmes
*/
.centered{
    align-items: center;
    justify-content:center;
}

/*
    Optional column class to set the flex direction to column form
*/
.col{
    flex-direction: column;
    gap:0;
}

/*
    Color themes (background and foreground) are defined below
*/
.theme-dark{
    color:var(--dark-fg-color);
    background-color:var(--dark-bg-color);
}

.theme-light{
    color:var(--light-fg-color);
    background-color:var(--light-bg-color);
}

.theme-gray{
    color:var(--gray-fg-color);
    background-color: var(--gray-bg-color);
    border:solid 4px var(--highlight-bg-color);
}

.theme-highlight{
    color:var(--highlight-fg-color);
    background-color:var(--highlight-bg-color);
}

/* Add a fade effect to transistion from light to dark */
.theme-light.fade{
    background-color:var(--light-bg-color);
    background-image:
        linear-gradient(var(--light-bg-color),
                        var(--light-bg-color) 90%,
                        var(--dark-bg-color));
}

/*
    Button themeing
    Currently, buttons serve no purpose
*/
button{
    background-color:var(--highlight-bg-color);
    color:var(--highlight-fg-color);
    font-weight:bold;
    border-radius: 5px;
    padding:5px 16px 5px 16px;
    margin: 16px 0 16px 0;
    border:none;
    align-self: flex-start;
    justify-self: end;
}

button:active{
    background-color:var(--highlight-dark-color);
}

.call button{
    border:2px var(--highlight-fg-color) solid;
    align-self: center;
}